<h1>Listing ingredients</h1>

<table>
  <tr>
    <th>Ingredient</th>
    <th>Measurement</th>
    <th>Quantity</th>
    <th>Recipe</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= ingredient.ingredient %></td>
    <td><%= ingredient.measurement %></td>
    <td><%= ingredient.quantity %></td>
    <td><%= ingredient.recipe %></td>
    <td><%= link_to 'Show', [ingredient.recipe, ingredient] %></td>
    <td><%= link_to 'Edit', edit_recipe_ingredient_path(ingredient.recipe, ingredient) %></td>
    <td><%= link_to 'Destroy', [ingredient.recipe, ingredient], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ingredient', new_recipe_ingredient_path(params[:recipe_id]) %>
